@import "tailwindcss";
@import "@nuxt/ui";

/* Global styles */
body {
  background-color: var(--color-brand-900);
  font-family: 'Inter';
  color: white;
}

/* Set the colors for the brand theme */
/* https://www.tailwindshades.com/ */
@theme static {
--color-brand-50: #faf5f8;
--color-brand-100: #f7ecf1;
--color-brand-200: #f0dae5;
--color-brand-300: #e5bccf;
--color-brand-400: #d393b0;
--color-brand-500: #c37195;
--color-brand-600: #ae5476;
--color-brand-700: #94425f;
--color-brand-800: #78374d;
--color-brand-900: #683345;
--color-brand-950: #3e1926;

--color-eucalyptus-50: #f0f9f4;
--color-eucalyptus-100: #dcefe3;
--color-eucalyptus-200: #bbdfca;
--color-eucalyptus-300: #8dc8ab;
--color-eucalyptus-400: #5daa86;
--color-eucalyptus-500: #3c8e6a;
--color-eucalyptus-600: #2a7153;
--color-eucalyptus-700: #225a44;
--color-eucalyptus-800: #1d4837;
--color-eucalyptus-900: #193b2e;
--color-eucalyptus-950: #0d211a;

}